.pi_info {
    width: 100%;

    .flex {
        display: flex;
        justify-content: space-between;
        width: 95%;
        margin: 10px auto 0 auto;

        .price {
            color: #6C28FE;
        }

        .itemLeft {
            color: #777777;
        }
    }

    .size {

        margin-bottom: 20px;

        .carousel {
            display: flex;
            flex-wrap: nowrap;
            width: 95%;
            margin: auto;

            button {
                background: transparent;
                border: 1px solid #777777;
                color: #777777;
                font-size: 20px;
                min-width: 50px;
                margin-right: 10px;
                cursor: pointer;
                border-radius: 5px;
            }

            button.active {
                border: 1px solid #6C28FE;
                color: #6C28FE;
            }
        }
    }

    .description {
        width: 95%;
        margin: auto;
    }
}